/target
/.idea
/data
/test-data
/server.key
/server.pem
/docker-compose.yaml
/performance-reports/
/perf_analysis_*/
/dcbdb-databases/
/dcbdb-databases-docker/
/umadb-python/python/umadb/__pycache__/
/umadb-python/python/umadb/_umadb.abi3.so
/umadb-benches/benches/__pycache__/
/.python-version
/uma.db
