name: Build and Publish Python Wheels

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - main


permissions:
  contents: read

jobs:
  build:
    name: Build wheels
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      # cibuildwheel always requires a Python, even with abi3
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build tools
        run: pip install maturin cibuildwheel

      - name: Build wheels
        env:
          # Build abi3 wheels for CPython 3.10+
          CIBW_BUILD: "cp310-abi3-*"

          # Build for all relevant architectures
          CIBW_ARCHS_LINUX: "x86_64 aarch64"
          CIBW_ARCHS_MACOS: "universal2"
          CIBW_ARCHS_WINDOWS: "x86 AMD64"

          # maturin arguments
          CIBW_MATURIN_ARGS: >
            --manifest-path umadb-python/Cargo.toml
            --release

        run: |
          cd umadb-python
          cibuildwheel --output-dir ../wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: wheelhouse

  upload:
    name: Upload to PyPI
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: wheels
          path: wheelhouse

      - name: Publish to PyPI
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          ls -lh wheelhouse/*
          pip install maturin
#          maturin upload --skip-existing wheelhouse/*
