name: Build and Publish Python Wheels

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - main


permissions:
  contents: read

jobs:
  build:
    name: Build wheels
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      # cibuildwheel always requires a Python, even with abi3
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install build tools
        run: pip install maturin cibuildwheel

      - name: Install Rust
        if: runner.os == 'macOS'
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Install Rust targets (macOS)
        if: runner.os == 'macOS'
        run: |
          rustup target add x86_64-apple-darwin
          rustup target add aarch64-apple-darwin

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0
        env:
          # Build abi3 wheels for CPython 3.10+
          CIBW_BUILD: "cp310-*"

          # Build for all relevant architectures
          CIBW_ARCHS_LINUX: "x86_64 aarch64"
          CIBW_ARCHS_MACOS: "universal2"
          CIBW_ARCHS_WINDOWS: "x86 AMD64"
          CIBW_BUILD_VERBOSITY: 1
          MACOSX_DEPLOYMENT_TARGET: 10.12
          
          # maturin arguments
#          CIBW_MATURIN_ARGS: --release
        with:
          package-dir: ./umadb-python
          output-dir: wheelhouse
          config-file: "./umadb-python/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  upload:
    name: Upload to PyPI
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: wheels
          path: wheelhouse

      - name: Publish to PyPI
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          ls -lh wheelhouse/*
          pip install maturin
#          maturin upload --skip-existing wheelhouse/*
